<!DOCTYPE html>
<html lang="en" ng-app="myController">
<head>
	<meta charset="UTF-8">
	<title>Angular</title>
	<!-- 
	<script src="https://rawgithub.com/wy-ang/Angularjs/master/js/jquery-1.8.3.min.js"></script>
	<script src="https://rawgithub.com/wy-ang/Angularjs/master/js/angular.min.js"></script>
	<script src="https://raw.githubusercontent.com/wy-ang/Angularjs/master/js/myAngular.js"></script>
	 -->
	<script src="js/jquery-1.8.3.min.js"></script>
	<script src="js/angular-1.3.0.js"></script>
	<script src="js/myAngular.js"></script>
</head>
<body>
	<!-- <div ng-controller="img">
		<img ng-src="{{imgSrc}}"/>
	</div> -->
	<div ng-controller="controller1">
		<input type="number" ng-model="a"/>
		<input type="number" ng-model="b"/>
		<p>总价：{{ a * b }}</p>
	</div>
	<ul ng-controller="controller2">
		<li ng-repeat="x in list">
			{{ x.nameX }}
		</li>
	</ul>
	<div ng-controller="customersController" ng-repeat="n in names">
		{{ n.Name + ', ' + n.Country }}
	</div>
	<div>
		<input type="text" ng-model="get.text" />
		<p>{{get.text}},angular</p>
	</div>
	<div>
		姓名：<input type="text" ng-model="name">
		<p ng-bind="name"></p>
	</div>
	<div ng-controller="myShow">
		<button ng-click='toggle()'>显示/隐藏</button>
		<p class="len" ng-show="myVie">我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我
		</p>
	</div>
	<div ng-controller="clockNow">
		<h3>{{ clock.now }}</h3>
	</div>
	<div ng-controller="ParentController">
		<div ng-controller="ChildController">
			<input type="text" ng-model="parent.suibian" placeholder="Name">
			<p>sayHello,{{parent.suibian}}</p>
			<a href="javascript:;" ng-click="sayHello()">sayHello,{{parent.suibian}}</a>
		</div>
		{{ parent }}	
	</div>
	

	<div>{{ name }}</div>


	<div class="box">
		<ul>
			<li>hehe1</li>
			<li>hehe2</li>
			<li>hehe3</li>
			<li>hehe4</li>
			<li>hehe5</li>
			<li>hehe6</li>
			<li>hehe7</li>
			<li>hehe8</li>
		</ul>
	</div>
	<div ng-controller="stopWorld">
		<input type="text" ng-readonly="stopTheWorld" value="3秒后输入" />
	</div>
<input type="checkbox" ng-checked="someProperty" ng-init="someProperty = true" ng-model="someProperty">

<label>
    <input type="checkbox" ng-model="isFullStack">
    I'm Full Stack Engineer
</label>
<select>
    <option>Front-End</option>
    <option>Back-End</option>
    <option ng-selected="isFullStack">Full Stack !!!</option>
</select>

<input type="text" ng-model="calc.arg"  ng-change="calc.result = calc.arg*2" />
    <code>{{ calc.result }}</code>
    <div ng-switch on="1+2">
    <p ng-switch-default>0</p>
    <p ng-switch-when="1">1</p>
    <p ng-switch-when="2">2</p>
    <p ng-switch-when="3">3</p>
</div>

<ul>
    <li ng-repeat="char in 
    [{'alphabet': 'K'},
    {'alphabet': 'A'},
    {'alphabet': 'V'},
    {'alphabet': 'L'},
    {'alphabet': 'E'},
    {'alphabet': 'Z'}] " ng-show="$even">{{char.alphabet}}</li>
</ul>
<p>1+2={{ 1+2 }}</p>
<input type="text" ng-model="someProperty" placeholder="TypetoEnable"> 
<button ng-model="button" ng-disabled="!someProperty">AButton</button> 
	<!-- 
		<script>
			console.log($('p.len').text().length);
		</script>
		111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111
	 -->
</html>


